*{
    font-size: medium;
    background-color: antiquewhite;
    display: block;
    justify-content: center;
    align-items: center;
}
#tt{
    text-align: center;
    margin: auto
}
.box{
    
    text-align: start;
    width:300px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border:1px solid ;
    padding: 30px;
    margin: auto;
    box-shadow: 5px 6px black;
}
.text{
    padding-left: 14px;
    box-sizing: border-box;
    justify-content: center;    
    align-items: center;
}
.input{
    box-shadow: 2px 2px black;
}

.input:hover{
    
    background-color: rgb(163, 165, 140);
}
#l:hover{
    text-shadow: 1px 1px black;
    font-size:20px;
    overflow: hidden;
}

button:hover{
    block-size: 27px;
    color: aliceblue;
    background-color: black;
}